@font-face {
  font-family: 'TTBackward'; 
  src: url('../Fonts/GlacialIndifference.otf') format('truetype'); 
}

@font-face {
  font-family: 'Klandestin';
  src: url('../Fonts//klandestin.otf') format('truetype');
}
@font-face {
  font-family: 'Samsung';
  src: url('../Fonts//samsungsharpsans.otf') format('truetype');
}

@font-face {
  font-family: 'TTCommonPro';
  src: url('../Fonts/ttcommonpro.otf') format('truetype');
}

@font-face {
  font-family: 'GlacialIndifference';
  src: url('../Fonts/GlacialIndifference.otf') format('truetype');
}

.auto-space-page{
  height: 100vh;
  background-image: url('../Images/background.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  font-family: 'TTBackward', sans-serif;
  }

  .auto-space-page .content-container {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 85vh;
  }
  
  .auto-space-page .time-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6.5%;
    backdrop-filter: blur(7px);
    height: 80%;
    width: 80%;
    color: #fff;
  }

  .auto-space-page .media-player-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10%;
    padding-top: 15px;
    margin-left: 17%;
    backdrop-filter: blur(2px);
    background-color: rgba(3, 10, 31, 0.66); 
    width: 58%;
    height: 80%;
    position: relative;
  }

  .overlay-container {
    position: absolute;
    top: 175px;
    left: 119px;
    width: 404px;
    height: 595px;
    background: rgba(130, 130, 130, 0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .manual-switch-button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 100;
    font-family: "TTCommonPro";
    letter-spacing: 2px;
    color: #fff;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
    text-transform: uppercase; 
    background-color: rgba(255, 0, 204, 0.5);
  }
  
  .manual-switch-button:hover {
    background-color: #cc0099; 
  }
  
  .media-players{
    width: 90%;
  }
  
  .time-container .title{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 6px;
  }

  .time-container .currently{
    font-family: "Samsung";
    font-size: 18px;
    font-weight: 100;
    margin-top: 3%;
    font-style: italic;
    letter-spacing: 1px;
    color: #f7e1ab;
  }

  .time-display {
    display: flex;
    justify-content: center;
    font-family: "Samsung";
    font-size: 130px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 20px;
    margin-top: 2%;
    color: #fff;
  }
  
  .quote-display {
    font-family: "GlacialIndifference";
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    height: 60px;
  }

  .quote-display.hidden {
    opacity: 0;
  }

  .time-container .player-control-container{
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 5%;
    align-self: center;
    width: 90%;
    padding-right: 20px;
    height: 87px;
    border: none;  
    background-color: rgba(7, 20, 57, 0.7); 
    border-radius: 5px;
    color: white; 
    font-size: 1rem; 
    font-style: italic;
    cursor: pointer; 
    outline: none;  
  }

  .player-control-container .player-controls-container{
    display: flex;
    flex-direction: column;
    font-family: "TTBackward";
    padding: 3px 10px;
  }

  .player-controls-container .music-title {
    align-self: flex-start;
    margin: 5px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    color: #fff;
  }
  
  .player-control-container .button-controls-container{
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
    padding: 2px 2px; 
    margin: 10px 10px 10px 15px;
    border: none;  
    background-color: rgba(255, 0, 204, 0.7);
    border-radius: 2.5px;
    cursor: pointer;
  }

  .button-controls-container .play-pause-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent; 
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fa-play, .fa-pause {
    font-size: 24px;
  }
  
  .auto-space-slider {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #ccc;
  }
  
  .auto-space-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 30px;
    width: 8px;
    background-color: #f50;
    border-radius: 2px;
    border: none;
  }
  
  .auto-space-slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 5px rgba(255,85,0, .1)
  }
  
  .player-controls {
    display: flex;
    gap: 1rem;
    max-width: 650px;
    margin: 4px;
    height: 10px;
    width: 100%;
    background: transparent;
    align-items: center;
  }
  
  .value {
    font-size: 26px;    
    width: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
  }
  
  .player-controls-container .tip {
    justify-self: flex-start;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-left: 3px;
  }

  #seconds {
    color: #eb69bd; 
    font-weight: 100;
  }