@font-face {
  font-family: 'TTBackward'; 
  src: url('../Fonts/GlacialIndifference.otf') format('truetype'); 
}

@font-face {
  font-family: 'Klandestin';
  src: url('../Fonts//klandestin.otf') format('truetype');
}

@font-face {
  font-family: 'TTCommonPro';
  src: url('../Fonts/ttcommonpro.otf') format('truetype');
}

@font-face {
  font-family: 'GlacialIndifference';
  src: url('../Fonts/GlacialIndifference.otf') format('truetype');
}

.choose-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-image: url('../Images/background.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;    
    font-family: 'TTBackward', sans-serif;
  }
  
  .choose-space h1 {
    font-size: 4rem; 
    color: #dedcdc; 
    margin: 0.5em 0; 
  }
  
  .choose-space p {
    font-size: 1.5rem; 
    color: #dedcdc; 
    margin: 20px 0; 
  }
  
  .choose-space button {
    padding: 10px 20px; 
    margin: 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #ff00cc; 
    color: white; 
    font-size: 1rem; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s; 
  }
  
  .choose-space button:hover {
    background-color: #cc0099; 
  }
  
  .choose-space .button-secondary {
    background-color: #eeeeee; 
    color: #333; 
  }
  
  .choose-space .button-secondary:hover {
    background-color: #cccccc; 
  }
  
  
  