@font-face {
  font-family: 'TTBackward'; 
  src: url('../Fonts/GlacialIndifference.otf') format('truetype'); 
}

@font-face {
  font-family: 'Samsung';
  src: url('../Fonts//samsungsharpsans.otf') format('truetype');
}

@font-face {
  font-family: 'TTCommonPro';
  src: url('../Fonts/ttcommonpro.otf') format('truetype');
}

@font-face {
  font-family: 'GlacialIndifference';
  src: url('../Fonts/GlacialIndifference.otf') format('truetype');
}

.manual-space-page {
    height: 100vh;
    background-image: url('../Images/background.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    font-family: 'TTBackward', sans-serif;
  }

  .manual-space-page .content-container{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 85vh;
  }

  .manual-space-media-player-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10%;
    padding-top: 15px;
    margin-left: 17%;
    backdrop-filter: blur(2px);
    background-color: rgba(3, 10, 31, 0.66); 
    width: 58%;
    height: 80%;
    position: relative;
  }

  .manual-space-time-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6.5%;
    backdrop-filter: blur(7px);
    height: 80%;
    width: 80%;
    color: #fff;
  }

  
  .manual-space-time-container .manual-space-title{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 6px;
  }

  .manual-space-time-container .currently{
    font-family: "Samsung";
    font-size: 18px;
    font-weight: 100;
    margin-top: 3%;
    font-style: italic;
    letter-spacing: 1px;
    color: #f7e1ab;
  }

  .time-display {
    display: flex;
    justify-content: center;
    font-family: "Samsung";
    font-size: 130px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 20px;
    margin-top: 2%;
    color: #fff;
  }
  
  .quote-display {
    font-family: "GlacialIndifference";
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    height: 60px;
  }

  .quote-display.hidden {
    opacity: 0;
  }
  
  .player-control-container{
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 5%;
    align-self: center;
    width: 90%;
    padding-right: 20px;
    height: 87px;
    border: none;  
    backdrop-filter: blur(2px);
    background-color: rgba(7, 20, 57, 0.7); 
    border-radius: 5px;
    color: white; 
    font-size: 1rem; 
    font-style: italic;
    cursor: pointer; 
    outline: none;  
    position: relative;
  }

  .volume-tip {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }

  .manual-space-overlay-container {
    position: absolute;
    top: 633px;
    left: 726px;
    width: 775px;
    height: 89px;
    background: rgba(130, 130, 130, 0.2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .auto-switch-button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 100;
    font-family: "TTCommonPro";
    letter-spacing: 2px;
    color: #fff;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
    text-transform: uppercase; 
    background-color: rgba(255, 0, 204, 0.5);
  }
  
  .auto-switch-button:hover {
    background-color: #cc0099; 
  }
  