@font-face {
    font-family: 'TTBackward'; 
    src: url('../Fonts/GlacialIndifference.otf') format('truetype'); 
  }
  
  @font-face {
    font-family: 'GlacialIndifference';
    src: url('../Fonts/GlacialIndifference.otf') format('truetype');
  }

  .sound-player-container{
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 2%;
    align-self: center;
    width: 90%;
    padding-right: 20px;
    height: 87px;
    border: none;  
    background-color:transparent; 
    border-radius: 5px;
    color: white; 
    font-size: 1rem; 
    font-style: italic;
    cursor: pointer; 
    outline: none;  
  }

  .sound-player-container .sound-control-container{
    display: flex;
    flex-direction: column;
    font-family: "TTBackward";
    padding: 3px 10px;
  }

  .sound-control-container .sound-title {
    align-self: flex-start;
    margin: 5px 5px 10px 5px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    color: #fff;
  }
  
  .sound-player-container .button-controls-container{
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
    padding: 2px 2px; 
    margin: 5px 5px 20px 17px;
    border: none;  
    background-color: transparent;
    border-radius: 2.5px;
    cursor: pointer;
  }

  .button-controls-container .sound-play-pause-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent; 
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sound-player-container .fa-play, .fa-pause {
    font-size: 30px;
  }
  
  
  .sound-player-slider {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #646464;
  }
  
  .sound-player-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 30px;
    width: 8px;
    background-color: rgb(247, 245, 244);
    border-radius: 2px;
    border: none;
  }
  
  .sound-player-slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 5px rgba(255,85,0, .1)
  }
  
  .sound-player-controls {
    display: flex;
    gap: 1rem;
    max-width: 650px;
    margin-top: 4%;
    height: 10px;
    width: 100%;
    background: transparent;
    align-items: center;
  }
  
  .sound-player-value {
    font-size: 15px;    
    width: 20px;
    text-align: center;
    font-style: normal;
    margin-left: 5%;
  }
  